# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env & secrets
.env
.env.*

# Logs
logs/
*.log
*.pid
*.seed
*.pid.lock

# OS
.DS_Store

# Coverage & cache
coverage/
.nyc_output/
.cache/

# Editor
.vscode/
.idea/
